<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
	http://code.alibabatech.com/schema/dubbo http://code.alibabatech.com/schema/dubbo/dubbo.xsd">


    <dubbo:application name="inchannel-job" />
    <bean id="propertyConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="locations">
            <list>
                <value>classpath:dubbo.properties</value>
            </list>
        </property>
    </bean>

    <dubbo:registry address="${dubbo.registry.address}" />

    <dubbo:reference id="szjszxdkFtpService" interface="com.reapal.inchannel.szjszxdk.service.SzjszxdkFtpService"  timeout="30000"  check="false"/>

</beans>