<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
	http://code.alibabatech.com/schema/dubbo http://code.alibabatech.com/schema/dubbo/dubbo.xsd">


<!--    <dubbo:registry protocol="zookeeper" address="zookeeper://10.168.17.75:2181"  register="false"/>-->

    <dubbo:application name="inchannel-kaola-provider" />

    <bean id="kaolaIdentifyService" class="com.reapal.inchannel.kaola.service.impl.KaolaIdentifyServiceImpl" />
    <dubbo:service interface="com.reapal.inchannel.kaola.service.KaolaIdentifyService" ref="kaolaIdentifyService"  retries="0"/>

</beans>
